<h1>Welcome Index Page</h1>

<form>
  <input type="text" name="name" placeholder="name">
  <input type="text" name="email" placeholder="email">
  <input class="submit" type="submit" value="submit">
</form>

<div id="notice"></div>

<br>
<button id="drop-pin">Drop Pin</button>

<br><br>
<div id="map-canvas"></div>


