<div class="container">

  <div class="header">
    <h1>MARAUDER</h1>
  </div>

  <div>
    <form class="new-form">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="email" placeholder="email">
      <input class="submit" type="submit" value="submit">
    </form>
  </div>

  <div id="notice"></div>

  <br><br>

  <button id="drop-pin">Drop Pin</button>

  <div class="map-container">
    <div id="map-canvas"></div>
  </div>

</div>

